* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  background-color: #dbd6c5;
}

header {
  height: 0;
}

footer {
  height: 0;
}

/* -------------------- Front page -------------------- */

#calendar {
  position: relative;
  max-height: 90vh;
  max-width: 90vw;
  aspect-ratio: 1; /* square, instead of original aspect ratio 1.5 */
  background-image: url('./images/kuusikalenteri.webp');
  background-size: cover;
  background-position: center;
  margin: auto;
  box-shadow: 0 0 8px 8px #dbd6c5 inset;
}

#calendar button {
  position: absolute;
  width: 9%;
  height: 6.5%;
  cursor: pointer;

  background: transparent;
  border: none;
  font-size: 0;

  /* Visible buttons for changing their positions:
  background: rgba(255,255,255,0.2);
  border: 1px solid white;
  font-size: 12;
  */

}

/* Relative placements of buttons over the image: */
#button1 { top: 74.8%; left: 22.8%; }
#button2 { top: 31.3%; left: 45%; }
#button3 { top: 38.3%; left: 55.7%; }
#button4 { top: 24.4%; left: 34.3%; }
#button5 { top: 60.4%; left: 23.5%; }
#button6 { top: 75.6%; left: 45.2%; }
#button7 { top: 74.3%; left: 67.5%; }
#button8 { top: 23.5%; left: 55.6%; }
#button9 { top: 45.1%; left: 66.4%; }
#button10 { top: 45.9%; left: 45.1%; }
#button11 { top: 53.4%; left: 34.4%; }
#button12 { top: 79.8%; left: 79.2%; }
#button13 { top: 60%; left: 66.5%; }
#button14 { top: 31.7%; left: 24%; }
#button15 { top: 67.7%; left: 56.5%; }
#button16 { top: 46.3%; left: 24%; }
#button17 { top: 60.5%; left: 45.2%; }
#button18 { top: 81.3%; left: 11.2%; }
#button19 { top: 38.7%; left: 34.5%; }
#button20 { top: 53%; left: 56%; }
#button21 { top: 68%; left: 34%; }
#button22 { top: 83%; left: 33.2%; }
#button23 { top: 82.8%; left: 57%; }
#button24 { top: 14.2%; left: 43.2%; }


/* -------------------- Puzzle page -------------------- */

#puzzle-image {
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  margin: auto;

  /* Piece of paper effect: */
  border: 5px solid #ffffff; 
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
}

.invisible {
  background: transparent !important;
  border: none !important;
  font-size: 0 !important;
}

#note {
  text-align: center;
}

#puzzle-header {
  height: 10vh;
  width: 640px;
  margin: auto;
  display: flex;                  /* put items in one row */
  align-items: center;            /* vertically center them */
  justify-content: space-between;
}

#content   {
  margin: 5vh 5vw;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  font-size: 8vh;
  line-height: 8vh;
}

header > button {
  height: 80%;
  aspect-ratio: 1;

  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;

  cursor: pointer;
}

.date-title {
  text-align: center;
  padding: 10px;
  max-height: 100%;
}

#home {
  background-image: url("./images/icon.svg");
}

#solved {
  background-image: url("./images/unsolved.svg");
}

@media screen and (max-width: 720px) {
  .arrow {
    font-size: 2.5em;
    padding-top: 0;
  }
  
  #puzzle-header {
    width: 100vw;
  }
}


