html {

}

.calendar {
  position: relative;
  width: 100%;  
  aspect-ratio: 16 / 9; /* or the real aspect ratio of your image */
  background-image: url('images/kuusikalenteri.JPG');
  background-size: cover;
  background-position: center;
}

.calendar button {
  position: absolute;
  width: 6.25%;       /* size also in % so it scales */
  height: 7%;
  background: rgba(255,255,255,0.2);
  border: 1px solid white;
  cursor: pointer;
}

/* Example door placement */
#button1 { top: 80%; left: 31.7%; }
#button2 { top: 28%; left: 46.5%; }
#button3 { top: 36.5%; left: 53.6%; }
#button4 { top: 12%; left: 20%; }
#button5 { top: 12%; left: 40%; }
#button6 { top: 12%; left: 60%; }
#button7 { top: 12%; left: 20%; }
#button8 { top: 12%; left: 40%; }
#button9 { top: 12%; left: 60%; }
#button10 { top: 12%; left: 20%; }
#button11 { top: 12%; left: 40%; }
#button12 { top: 12%; left: 60%; }
#button13 { top: 12%; left: 20%; }
#button14 { top: 12%; left: 40%; }
#button15 { top: 12%; left: 60%; }
#button16 { top: 12%; left: 20%; }
#button17 { top: 63%; left: 46.7%; }
#button18 { top: 87.5%; left: 24%; }
#button19 { top: 36.9%; left: 39.5%; }
#button20 { top: 54%; left: 53.8%; }
#button21 { top: 71.8%; left: 39.1%; }
#button22 { top: 89.6%; left: 38.7%; }
#button23 { top: 89.6%; left: 54.6%; }
#button24 { top: 8%; left: 45.5%; }

.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

button {
  width: 100%;
  height: 100%;
}

.invisible {
  background: transparent;
  border: none !important;
  font-size: 0;
}