html {
  background: url('images/kuusikalenteri.JPG') no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 0;
}

.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

button {
  width: 100%;
  height: 100%;
}

.invisible {
  background: transparent;
  border: none !important;
  font-size:0;
}