html {

}

.calendar {
  position: relative;
  width: 100%;
  aspect-ratio: 1; /* or the real aspect ratio of your image */
  background-image: url('images/kuusikalenteri.JPG');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.calendar button {
  position: absolute;
  width: 9%;       /* size also in % so it scales */
  height: 6.5%;
  background: rgba(255,255,255,0.2);
  border: 1px solid white;
  cursor: pointer;
}

/* Example door placement */
#button1 { top: 74.8%; left: 22.8%; }
#button2 { top: 31.3%; left: 45%; }
#button3 { top: 38.3%; left: 55.7%; }
#button4 { top: 24.4%; left: 34.3%; }
#button5 { top: 60.4%; left: 23.5%; }
#button6 { top: 75.6%; left: 45.2%; }
#button7 { top: 74.3%; left: 67.5%; }
#button8 { top: 23.5%; left: 55.6%; }
#button9 { top: 45.1%; left: 66.4%; }
#button10 { top: 45.9%; left: 45.1%; }
#button11 { top: 53.4%; left: 34.4%; }
#button12 { top: 79.8%; left: 79.2%; }
#button13 { top: 60%; left: 66.5%; }
#button14 { top: 31.7%; left: 24%; }
#button15 { top: 67.7%; left: 56.5%; }
#button16 { top: 46.3%; left: 24%; }
#button17 { top: 60.5%; left: 45.2%; }
#button18 { top: 12%; left: 60%; }
#button19 { top: 12%; left: 20%; }
#button20 { top: 12%; left: 40%; }
#button21 { top: 12%; left: 60%; }
#button22 { top: 12%; left: 20%; }
#button23 { top: 12%; left: 40%; }
#button24 { top: 12%; left: 60%; }

.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

button {
  width: 100%;
  height: 100%;
}

.invisible {
  background: transparent;
  border: none !important;
  font-size: 0;
}