* {
    margin: 0;
    padding: 0;
}

html {
  background-color: #dbd6c5;
}

.calendar {
  position: relative;
  max-height: 90vh;
  max-width: 90vw;
  aspect-ratio: 1; /* square, instead of original aspect ratio 1.5 */
  background-image: url('images/kuusikalenteri.JPG');
  background-size: cover;
  background-position: center;
  margin: auto;
  box-shadow: 0 0 8px 8px #dbd6c5 inset;
}

.calendar button {
  position: absolute;
  width: 9%;
  height: 6.5%;
  cursor: pointer;

  background: transparent;
  border: none;
  font-size: 0;

  /* Visible buttons for changing their positions:
  background: rgba(255,255,255,0.2);
  border: 1px solid white;
  font-size: 12;
  */

}

/* Relative placements of buttons over the image: */
#button1 { top: 74.8%; left: 22.8%; }
#button2 { top: 31.3%; left: 45%; }
#button3 { top: 38.3%; left: 55.7%; }
#button4 { top: 24.4%; left: 34.3%; }
#button5 { top: 60.4%; left: 23.5%; }
#button6 { top: 75.6%; left: 45.2%; }
#button7 { top: 74.3%; left: 67.5%; }
#button8 { top: 23.5%; left: 55.6%; }
#button9 { top: 45.1%; left: 66.4%; }
#button10 { top: 45.9%; left: 45.1%; }
#button11 { top: 53.4%; left: 34.4%; }
#button12 { top: 79.8%; left: 79.2%; }
#button13 { top: 60%; left: 66.5%; }
#button14 { top: 31.7%; left: 24%; }
#button15 { top: 67.7%; left: 56.5%; }
#button16 { top: 46.3%; left: 24%; }
#button17 { top: 60.5%; left: 45.2%; }
#button18 { top: 81.3%; left: 11.2%; }
#button19 { top: 38.7%; left: 34.5%; }
#button20 { top: 53%; left: 56%; }
#button21 { top: 68%; left: 34%; }
#button22 { top: 83%; left: 33.2%; }
#button23 { top: 82.8%; left: 57%; }
#button24 { top: 14.2%; left: 43.2%; }

.fit-to-screen {
  display: grid;
  height: 100%;
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
}

h1 {
  text-align: center;
  padding: 10px;
  max-height: 10vh;
}

#note {
  text-align: center;
}